<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang.change">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.expend_statistic.ExpendStatisticActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.add_expend.AddExpendActivity">

        </activity>
        <activity
            android:name=".ui.performance_statistic.PerformanceStatisticActivity"
            android:label="@string/title_activity_home"></activity>
        <activity
            android:name=".ui.add_performance.AddPerformanceActivity"
            android:parentActivityName=".ui.performance_statistic.PerformanceStatisticActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhang.change.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>